@media (max-width: 1439px) {
  .project__illustration {
    margin: 0px -40px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .project__body {
    align-items: center;
  }
  .project__illustration {
    margin: 0px 0px 0px 0px;
    flex: 0 0 500px;
    height: 375px;
  }
}

@media (max-width: 1100px) {
  .present__container {
    flex-wrap: wrap;
  }
  .present__image {
    flex: 0 0 100%;
    padding: 0px 0px 75% 0px;
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .project__illustration {
    display: none;
  }
  .project__content {
    padding: 0;
  }
  .footer__container {
    grid-template-columns: 35% 15% auto auto;
  }
}

@media (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    position: static;
  }
  .header__logo {
    margin: 0;
  }
  .header__hamburger {
    display: inline-block;
    visibility: visible;
    opacity: 1;
  }
  .header__language {
    margin: 0;
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav._nav-is-active {
    display: block;
    position: absolute;
    background-color: #fbfbfb;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 160px 15px 0px 15px;
    animation: headerNavSmooth 150ms ease;
  }
  @keyframes headerNavSmooth {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  .nav__list {
    display: inline-flex;
    flex-direction: column;
  }
  .nav__list > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .nav__link {
    font-size: 32px;
  }
  .project {
    padding: 0px 0px 80px 0px;
  }
  .goto-document__illustration {
    padding: 0px 0px 40% 0px;
  }

  .documents__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer { 
    padding: 30px 0 50px 33.5px;
  }

  .footer__container {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 30px;
  }
  .footer__copyright {
    margin: 70px 0px 0px 0px;
  }
}

@media (max-height: 410px) {
  .header__nav._nav-is-active {
    padding: 50px 15px 0px 15px;
  }
}

@media (max-width: 675px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .present__btn {
    padding: 0 48.5px;
  }
  .item-nav-project_market {
    grid-column: 2 / 4;
  }
  .item-nav-project_stock {
    grid-column: 1 / 3;
    padding: 0 10px;
  }
  .item-nav-project_dex {
    width: 100%;
  }
  .item-nav-project_nft {
  }
  .project__title {
    font-size: 48px;
  }
  .project__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: stretch;
    flex-wrap: inherit;
    margin: 0px 0px 30px 0px;
  }
  .project__btns > *:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  .project__btn_website {
    padding: 0 56.5px;
  }
  .goto-document__inner {
    padding: 100px 40px 100px 40px;
  }
  .documents {
    padding: 50px 0;
  }
  .documents__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
  }
}

@media (max-width: 475px) {
  .project__image {
    width: 100%;
    height: 100px;
  }
  .goto-document__inner {
    padding: 80px 20px 80px 20px;
  }
  .documents__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer {
    padding: 30px 0 50px 20px;
  }
}

@media (min-width: 992px) {
  .btn_orange:hover {
    background-color: #e27013;
  }
  .btn_dark:hover .item-nav-project__icon {
    background-color: #3d3d3d;
    border-radius: 50%;
    color: #ffffff;
    padding: 4px;
    transition: all 50ms linear;
    animation: visibileIconWithOpacity 200ms linear;
  }

  .item-nav-project._is-active:hover {
    color: #3d3d3d;
    background: transparent;
  }

  @keyframes visibileIconWithOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
