@media (max-width: 1100px) {
  .present__container {
    flex-wrap: wrap;
  }
  .present__image {
    flex: 0 0 100%;
    padding: 0px 0px 75% 0px;
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 36px;
  }
  .present__btn {
    padding: 0 48.5px;
  }
}