html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #fffcf6;
  color: #3d3d3d;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

._container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN_STYLES ---------------------------------------------------------------------------> */
.logo {
  display: flex;
  align-items: center;
}
.logo__image {
}
.logo__image:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.logo__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  color: #045599;
  text-transform: uppercase;
}
.title {
  font-weight: 700;
  font-size: 64px;
  line-height: calc(75 / 64 * 100%);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  min-height: 40px;
  background-color: #f48020;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14 * 100%);
}

.btn_orange {
  padding: 0 16.5px;
  transition: background-color 150ms ease;
}

.btn_orange-transparent {
  background-color: #f8d8bd;
  color: #f48020;
}

.btn_dark {
  border: 3px solid #3d3d3d;
  border-radius: 48px;
  background: transparent;
  color: #3d3d3d;
}

/* HEADER -------------------------------------------------------------------------------> */

.header {
}
.header__container {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}
.header__logo {
  margin: 0px 95px 0px 0px;
}
.header__nav {
}
.nav {
}
.nav__list {
  display: flex;
}
.nav__list > *:not(:last-child) {
  margin: 0px 80px 0px 0px;
}
.nav__item {
}
.nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(18 / 16 * 100%);
}
.header__language {
  margin: 0px 0px 0px auto;
}
.language {
  cursor: pointer;
  position: relative;
}
.language__current {
  display: flex;
  align-items: center;
}
.language__flag {
  margin: 0px 10px 0px 0px;
  width: 18px;
  height: 18px;
}
.language__text {
  margin: 0px 6px 0px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14 * 100%);
}
.language__arrow {
  width: 7px;
  height: 4px;
}
.language__menu {
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 0;
  width: 120px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.082);
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease;
  background-color: #fffcf6;
}
.language__menu._menu-is-active {
  visibility: visible;
  opacity: 1;
}
.language__list {
  display: flex;
  flex-direction: column;
}
.language__item {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14 * 100%);
  padding: 10px 20px 10px 20px;
}
.language__item img {
  margin: 0px 10px 0px 0px;
  width: 18px;
  height: 18px;
}

.header__hamburger {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* PRESENT ----------------------------------------------------------------------------------> */

.page__present {
}
.present {
  padding: 20px 0px 90px 0px;
}
.present__container {
  display: flex;
}
.present__content {
  flex: 1 1 auto;
  margin: 52px 0px 0px 0px;
}
.present__title {
}
.present__title:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.present__btn {
  padding: 0 83.5px;
}
.present__image {
  position: relative;
  flex: 0 0 690px;
  padding: 0px 0px 31% 0px;
}

/* PROJECT ----------------------------------------------------------------------------------------> */

.page__project {
}
.project {
  position: relative;
  padding: 80px 0px 184px 0px;
}
.project__container {
}
.project__nav {
  margin: 0px 0px 51px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__nav > *:not(:last-child) {
  margin-right: 10px;
}
.project__nav-item {
  margin: 0px 0px 10px 0px;
}
.item-nav-project {
  display: inline-flex;
  align-items: center;
}
.item-nav-project._is-active {
  color: #ffffff;
  background-color: #3d3d3d;
  transition: all 150ms linear;
}
.item-nav-project__icon {
  font-size: 18px;
  margin: 0px 3px 0px 0px;
}
.item-nav-project__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14 * 100%);
}

.item-nav-project_stock {
  padding: 0 39px;
}
.item-nav-project_dex {
  padding: 0 21px;
}
.item-nav-project_nft {
  padding: 0 21px;
}
.item-nav-project_market {
  padding: 0 32px;
}

.project__body {
  display: flex;
}
.project__body._visible-with-opacity .project__title {
  animation: visibleWithOpacity 400ms ease;
}
.project__body._visible-with-opacity .project__images {
  animation: visibleWithOpacity 400ms ease;
}
.project__body._visible-with-opacity .project__illustration {
  animation: visibleWithOpacity 400ms ease;
}
@keyframes visibleWithOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.project__content {
  padding: 10px 20px 0px 0px;
  flex: 1 1 auto;
}
.project__title {
  font-weight: 600;
  font-size: 64px;
  line-height: calc(75 / 64 * 100%);
}
.project__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.project__description {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16 * 100%);
  color: #808080;
}
.project__description:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.project__images {
  max-width: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.project__images:not(:first-child) {
  margin: 32px 0px 0px 0px;
}
.project__images:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
.project__image {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
}
.project__btns {
}
.project__btns > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.project__btn_website {
  padding: 0 66.5px;
}
.project__btn_app {
  padding: 0 16.5px;
}
.project__illustration {
  margin: 0px -80px 0px 0px;
  flex: 0 0 820px;
  height: 600px;
  background-color: #f3f6e6;
  border-radius: 20px 0px 0px 20px;
}

/* DOCUMENT ------------------------------------------------------------------------------------> */

.page__goto-document {
}
.goto-document {
  padding: 0px 0px 80px 0px;
}
.goto-document__container {
}
.goto-document__container > *:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.goto-document__inner {
  background-color: #f3f5e6;
  padding: 152px 80px 152px 80px;
  text-align: center;
  border-radius: 20px;
}
.goto-document__inner > *:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.goto-document__title {
}
.goto-document__btn {
  padding: 0 54.5px;
}

.page__documents {
}
.documents {
  padding: 100px 0;
}
.documents__container {
  max-width: 860px;
}
.documents__title {
  margin: 0px 0px 80px 0px;
}
.documents__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.documents__item {
}
.item-document {
  border: 3px solid #3d3d3d;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: url("../img/documents-img/document.png") center center / cover
    no-repeat;
}
.item-document__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20 * 100%);
  background-color: #ffffff;
  padding: 18.5px 0;
}
.item-document__download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  padding: 0 20px;
  min-height: 38px;
  margin: 137px 0px 20px 0px;
}

.item-document__download img {
  margin: 0px 10px 0px 0px;
}

/* FOOTER ---------------------------------------------------------------------------> */

.footer {
  background-color: #0b0d17;
  padding: 30px 0 50px;
}
.footer__container {
  display: grid;
  grid-template-columns: 40% 20% auto auto;
}
.footer__column {

}

.column-footer-logo > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.footer__logo {
}

.footer__copyright {
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  color: #D9DBE1;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__socials > *:not(:first-child) {
  margin: 0 0 0 16px;
}
.footer__social {
}
.footer__social-icon {
}
.column-footer-nav {
}
.column-footer-nav__title {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #D9DBE1;
  margin: 0px 0px 20px 0px;
}
.column-footer-nav__list {
}
.column-footer-nav__item {
}
.column-footer-nav__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.column-footer-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  color: #ffffff;
  transition: color 250ms ease;
}

.column-footer-nav__link:hover {
  color: #ffffff;
  font-weight: 500;
}

.column-footer-nav__app:not(:last-child) {
  display: inline-block;
  margin: 0px 0px 20px 0px;
}

.sub-footer {
  padding: 15px 0px 19px 0px;
}
.sub-footer__container {
  max-width: 1045px;
}
._container {
}
.sub-footer__text {
  font-size: 12px;
  line-height: calc(15 / 12 * 100%);
  color: #B1B1B1;
}


/* DYNAMIC STYLES ----------------------------------------------------------------> */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.closeBtn {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.closeBtn:hover {
  color: rgb(255, 255, 255);
}
